@import url('https://fonts.cdnfonts.com/css/lvdc-game-over');

                
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
.start {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 15px;
    font-family: 'LVDC Game Over 2', sans-serif;
    font-size: 10px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    animation: start-animation 1.5s infinite;
    z-index: 999;
}
.game-over {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 40px;
    font-family: 'LVDC Game Over 2', sans-serif;
    font-size: 30px;
    text-align: center; 
    display: none;  
    z-index: 999; 
}
.game-board{
    width: 100%;
    height: 80vh;
    border-bottom: 15px solid rgb(35, 128, 12);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#5c94fc, #ffffff);
}
.score {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'LVDC Game Over 2', sans-serif;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    z-index: 2;
}
.clouds {
    z-index: 1;
    /* height: 30%; */
    right: 0;
    width: 15rem;
    position: absolute;
}
.pipe {
    width: 3rem;
    height: 3rem;
    position: absolute;
    bottom: 0;
    left: 40%;
    /* left: 85px; */
    z-index: 2;
}
.pipe-move {
    animation: pipe-animation 1.5s infinite linear;
}
.mario {
    width: 7rem;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.clouds-move {
    animation: clouds-animation 12s infinite linear;
}
.jump {
    animation: jump 1.2s infinite ease-out;
}


@keyframes pipe-animation {
    from {
        right: -6rem;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 8rem;
    }
}

@keyframes clouds-animation {
    from {
        right: -15rem;
    }
    to {
        right: 100%;
    }
}
@keyframes start-animation{
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
